{% extends "base.html" %}

{% block titulo %} Inicio {% endblock %}

{% block contenido %}
<br>
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Bienvenido al sitio de libreria</h1>
        <p class="col-md-8 fs-4">
            Despierta tu imaginación y descubre nuevas aventuras en cada página. En Libreria Urpi, no solo vendemos libros,
            abrimos puertas a universos de conocimiento, fantasía y sabiduría. Explora nuestras selectas colecciones,
            encuentra tu próxima lectura favorita y déjate llevar por la magia que solo una buena historia puede ofrecer.
        </p>
       
        <a name="" id="" class="btn btn-primary btn-lg" href="{% url 'libros' %}" role="button" >Empezar</a>

    </div>
</div>

{% endblock %}