{% extends "base.html" %}

{% block titulo %} Lista de libros {% endblock %}

{% block contenido %}
<br>
<div class="card">
    <div class="card-header">
        <a name="" id="" class="btn btn-success" href="{% url 'libreria:crear'%}" role="button">Agregar nuevo libro</a> <!--'crear' viene de urls.py de libreria name=crear-->

    </div>
    <div class="card-body">
        <h4 class="card-title">Libros</h4>

        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Autor</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for libro in libros %}
                    <tr class="">
                        <td>{{libro.id}}</td>
                        <td>{{libro.titulo}}</td>
                        <td>
                            <img src=" {{libro.imagen.url}}" alt="img" height="100px" width="100px">                           
                        </td>
                        <td>{{libro.descripcion}}</td>
                        <td>{{libro.autor}}</td>
                        <td>
                            <a name="" id="" class="btn btn-warning" href="{% url 'libreria:detalle' libro.id %}" role="button">Editar</a> 
                            <a name="" id="" class="btn btn-danger" href="{% url 'libreria:eliminar' libro.id %}" role="button">Eliminar</a> <!--eliminar viene del name=eliminar de urls.py de libreria-->
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="card-footer text-muted">

        </div>

    </div>

</div>


{% endblock %}