{% extends "base.html" %}

{% block titulo %} Lista de Autores {% endblock %}

{% block contenido %}

<div class="acciones-categorias">
    <a class="btn-agregar" href="{% url 'libreria:CrearAutor'%}" role="button"> Agregar nueva autor</a> <!--'CrearAutor' viene de urls.py de libreria name=CrearAutor-->
    <a class="btn-volver" href="{% url 'libreria:panel'%}" role="button"> Volver al panel</a>
</div>


<h2 class="titulo-principal">Lista de Autores</h2>

<table class="tabla-autores">
    <thead class="tabla-cabecera">
        <tr>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Nombre completo</th>
            <th>Fecha nacimiento</th>
            <th>Sexo</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        {% for autor in autores %}
        <tr class="fila-autor">
            <td>{{ autor.apellido_paterno }}</td>
            <td>{{ autor.apellido_materno }}</td>
            <td>{{ autor.nombres }}</td>
            <td>{{ autor.fecha_nacimiento }}</td>
            <td>{{ autor.get_sexo_display  }}</td>
            <td>
                <a name="" id="" class="btn-editar" href="{% url 'libreria:EditarAutor' autor.id %}" role="button">Editar</a> 
                <a name="" id="" class="btn-eliminar" href="{% url 'libreria:EliminarAutor' autor.id %}" role="button">Eliminar</a> <!--eliminar viene del name=eliminar de urls.py de libreria-->
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No hay autores registrados.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}