<div class="contenedor-formulario">
    <div class="form-card">
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {% for campo in formularioCategoria %}
                <div class="campo-formulario">
                    <label class="label-formulario">{{ campo.label }}</label>    
                    
                    <input 
                        type="{{ campo.field.widget.input_type }}"
                        class="input-formulario"
                        name="{{ campo.name }}"
                        placeholder="{{ campo.label }}"
                        value="{{ campo.value|default:'' }}"
                    />
                    
                    <div class="error-formulario">{{ campo.errors }}</div>
                </div>
            {% endfor %}

            <div class="botones-formulario">
                <input class="btn-guardar" type="submit" value="Registrar Categoría"/>
                <a class="btn-cancelar" href="{% url 'libreria:ListarCategoria' %}">Volver</a>
            </div>
        </form>
    </div>
</div>
