{% extends "base.html" %}

{% block titulo %} Lista de categorias {% endblock %}

{% block contenido %}

<a name="" id="" class="btn btn-success" href="{% url 'libreria:CrearCategoria'%}" role="button">Agregar nuevo categoria</a>
<a name="" id="" class="btn btn-success" href="{% url 'libreria:panel'%}" role="button">Volver al panel</a>



<h2 class="titulo-principal">Lista de categorias</h2>

<table class="tabla-autores">
    <thead class="tabla-cabecera">
        <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        {% for categoria in categorias %}
        <tr class="fila-autor">
            <td>{{ categoria.nombre}}</td>
            <td>{{ categoria.descripcion}}</td>           
            <td>
                <a name="" id="" class="btn-editar" href="{% url 'libreria:EditarCategoria' categoria.id %}" role="button">Editar</a> 
                <a name="" id="" class="btn-eliminar" href="{% url 'libreria:EliminarCategoria' categoria.id %}" role="button">Eliminar</a> <!--eliminar viene del name=eliminar de urls.py de libreria-->
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No hay categorias registrados.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}