{% extends "base.html" %}

{% block titulo %} Categorias {% endblock %}

{% block contenido %}

<h1 class="categorias-titulo">Categorías</h1>

{% for categoria in categorias %}
<section class="categoria">
  <div class="categoria-header">
    <div class="categoria-nombre">
      <a href="{% url 'libreria:categorias_detalle' categoria.id %}">
        <!--Viene del for de categoria, sino que esta en modo url-->
        {{ categoria.nombre }}
      </a>
    </div>
  </div>


  <div class="libros-slider">
    <div class="libros-contenedor" id="slider-{{ categoria.id }}">
      {% for libro in categoria.libro_set.all %} <!--libro solo es un nombre de la variable temporal-->
      <div class="libro-card">
        {% if libro.imagen %}
        <img src="{{ libro.imagen.url }}" alt="{{ libro.titulo }}" class="libro-imagen">
        {% endif %}
        <h4 class="libro-titulo">{{ libro.titulo|truncatechars:30 }}</h4>
        <p class="libro-autor">{{ libro.autor }}</p>
        <p class="libro-precio">S/ {{ libro.precio }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
  <a href="{% url 'libreria:categorias_detalle' categoria.id %}" class="ver-mas">Ver todos los libros <span
      class="flecha">→</span></a>
</section>
{% endfor %}

<script>
document.addEventListener("DOMContentLoaded", () => {
  const sliders = document.querySelectorAll(".libros-contenedor"); //esto le dice al navegador , “Busca en el DOM todos los elementos que tengan la clase .libros-contenedor

  sliders.forEach(slider => {
    const cards = slider.children; //Obtiene el elemtno hijo, en este caso el libro-card
    const total = cards.length;
    const visible = 0;   // cantidad visible de libros (a partir de cuando se volvera a cargar desde el inicio, en este caso cero osea no haya nada ,y vuelve al inicio)
    const step = 2;      // cantidad que se moverá por paso (va comiendo 2)
    const cardWidth = 220; // ancho aprox. de cada card + margen
    let index = 0;

    function moveSlider() {
      //Desliza el contenedor .libros-contenedor hacia la izquierda una distancia calculada
      index++;
      slider.style.transition = "transform 0.8s ease-in-out";
      slider.style.transform = `translateX(-${index * step * cardWidth}px)`;

      // Si llegamos al final, aquí se compara el progreso (index * step) con el número total de libros menos los visibles.
      if (index * step >= total - visible) {
        setTimeout(() => {
          slider.style.transition = "none";
          slider.style.transform = "translateX(0)";
          index = 0;//se reinicia el index
        }, 850);
      }
    }

    // Mueve cada 5 segundos
    setInterval(moveSlider, 5000); //Aca llamamos a la funcion moveSlider, quiere decir que cada 5 segundos , se ejecuta la funcion
  });
});
</script>




{% endblock %}