<form enctype="multipart/form-data" method="post" class="registro-usuario">
    {% csrf_token %}
    <h2 class="titulo-registro">Crear cuenta</h2>

    {% for campo in formularioUsuario %}
        <div class="grupo-campo">
            <label class="label-campo">{{ campo.label }}</label>
            
            <input 
                type="{{ campo.field.widget.input_type }}"
                class="input-campo"
                name="{{ campo.name }}"
            />
            
            <div class="error-campo">{{ campo.errors }}</div>
        </div>
    {% endfor %}

    <div class="acciones-formulario">
        <input class="btn-registro" type="submit" value="Registrarse"/>
        <a class="btn-volver" href="{% url 'libreria:inicio' %}">Volver</a>
    </div>
</form>
